extends _include/layout

block title
  title Archive | #{config.title}

block content
  main
    header#article--header
      h1#archive--header--title Archive

    hr#archive--top-hr

    #archive--posts
      for post in page.posts.toArray()
        article.post
          a.post--content--link-wrapper(href=url_for(post.path)): h2.post--content--title= post.title

    hr#archive--bottom-hr

block pagination
  #archive--pagination
    include _include/paginator