extends _include/layout

block title
  title #{page.category} | #{config.title}

block content
  main
    header#category-page--header
      h1#category-page--header--title Category: #{page.category}

    hr#category-page--top-hr

    .posts
      for post in page.posts.toArray()
        article.post
          a.post--content--link-wrapper(href=url_for(post.path)): h2.post--content--title= post.title

    hr#category-page--bottom-hr

block pagination
  #category-page--pagination
    include _include/paginator