extends _include/layout

block title
  title #{page.category} | #{config.title}

block content
  main
    header
      h1 Category: #{page.category}

    hr

    div
      for post in page.posts.toArray()
        article
          a(href=url_for(post.path)): h2= post.title

    hr

block pagination
  include _include/paginator