extends _include/layout

block title
  title= config.title

block content
  main
    for post in page.posts.toArray()
        article
          a(href=url_for(post.path)): h2= post.title
          if post.tags
            ul
              for tag in post.tags.toArray()
                li: a(href=url_for(tag.path))= tag.name

  hr

block pagination
  include _include/paginator